body {
    background-color: rgb(233, 123, 64);
    pos



}


header {
    display: flex;
    align-items: center;
    background-color: #eee;
  
}

nav{
    float: left;
    position: relative;

}

aside{
float: right;

}
footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
}

